<%- include ("./partials/header") %>

<head>
  <title>Spot</title>
  <link href="/stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">\
    <meta content="width=device-width, initial scale 0.3" name="viewport">
</head>
<body>
    <section class="hero">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-12">
              <h2>Spot</h2>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container text-center">
          <button id="read" class="btn btn-outline-primary">Connect with BLE device</button>
          <button id="start" class="btn btn-outline-primary" disabled>Start</button>
          <button id="stop" class="btn btn-outline-primary" disabled>Stop</button>
          <div id="weightDisplay" class="circle"></div>
          <!-- <div class="battery">
              <div class="battery-level" style="height:100%;"></div>
          </div> -->
        </div>
      </div>
      </section>
      <section>
        <div id="chart"></div>
      </section>
</body>

<script src="/scripts/app.js"></script>
